/*----- Reset -----*/

html {
  height: 100px;
}
img,
video {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

/*----- Variáveis -----*/

:root {
  /* Tipografia */
  --serif-font: "Playfair Display", serif;
  --sans-serif-font: "Lato", sans-serif;
  --base-font-size: 16px;
  --big-font-size: 2rem; /* 30px */
  --meddium-font-size: 25px;
  --small-font-size: 0.875rem; /* 14px */

  /* Box model */
  --spacer: 30px;
  --spacer-2x: calc(var(--spacer) * 2);
}

/*----- Estilos Gerais ----- */

body {
  font-family: var(--sans-serif-font);
  font-size: var(--base-font-size);
  font-weight: 300;
  color: #222;
  line-height: 1.7;
}

h1,
h3 {
  font-family: var(--serif-font);
  font-size: var(--big-font-size);
  line-height: 1.2;
}

h2 {
  font-size: var(--base-font-size);
  letter-spacing: 4px;
  color: #fff;
  font-weight: 400;
  margin-bottom: var(--spacer);
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 1s ease;
}

.grid {
  display: grid;
  grid-gap: var(--spacer-2x);
}

.white-text {
  color: white;
}

/* ----- Header ----- */

header {
  height: 100vh;
  background-image: url(../img/background_img.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: var(--spacer-2x);
}

header .logo {
  position: absolute;
  top: 0;
  font-size: var(--base-font-size);
  border: 2px solid #fff;
  padding: 15px;
  margin-top: 15px;
  letter-spacing: 1.5px;
}

.logo-scrolled {
  position: absolute;
  top: 0;
  border: 2px solid #fff;
  padding: 7px;
  margin-top: 8px;
  margin-left: 60px;
  letter-spacing: 0.5px;
  font-size: small;
}

header .statement {
  width: 57%;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.statement span {
  font-weight: 700;
}

.social-media {
  position: fixed;
  transform-origin: right center;
  right: var(--spacer);
}
.social-media a {
  display: block;
  padding: 10px;
  text-align: right;
  color: #ffa897;
}
.ion-social-facebook {
  font-size: 19px;
}
/* ----- Nav ----- */

#nav-elements {
  top: 0;
  margin-top: 40px;
}

nav {
  position: absolute;
  top: calc(var(--spacer) * 2);
  right: calc(var(--spacer) * 5);
  margin-top: 0.1px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  font-family: var(--sans-serif-font);
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  letter-spacing: 1.5px;
}

nav ul li a:hover,
nav ul li a.active {
  border-bottom: 1px solid #fff;
}

span {
  color: #ffa897;
  font-weight: 700;
}

#nav_bar {
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: #00000000;
  opacity: 1;
  filter: Alpha(opacity=50);
}

.nav-bar-scrolled {
  height: 80px !important;
  position: fixed;
  background-color: #ffa897 !important;
  transition: 0.2s;
  z-index: 1;
  top: 0 !important;
  right: calc(var(--spacer) * 5);
  float: right;
  font-size: small;
}

/* ----- Main  ----- */

/* ----- about ----- */

#about {
  padding: var(--spacer-2x);
}

.grid {
  grid-template-columns: 1fr 1fr;
}

.text1 {
  margin: 0 30px 0 0;
}
.text1 h1 {
  color: #e0e0e0;
  font-size: 50px;
}
#about .grid .text1 p {
  color: #a9a9a9;
  margin-bottom: 45px;
}
.live {
  color: #444343;
}

.btn1 {
  border: 3px solid #ffa897;
  color: #ffa897;
  width: 200px;
  padding: 20px;
  font-size: 15px;
  margin: 20px;
}
.btn1:hover {
  border: 3px solid #e0e0e0;
  color: #e0e0e0;
}

#about .img-grid {
  display: flex;
  height: 50px;
  align-items: center;
  padding: var(--spacer-2x);
}

.img-item {
  width: 90px;
  height: 60px;
}

#about .img-item {
  margin: 20px auto;
  margin-left: 10px;
}

.thumb-selected {
  border: 3px solid #ffa897;
}

/* ----- programs ----- */

#programs {
  background: #3c3c3c;
  padding: var(--spacer-2x);
}

.grid {
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.beginners {
  color: #e0e0e0;
}

.programs-group p {
  color: #fff;
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.text-programas {
  padding: 0 30px 20px 0;
  cursor: pointer;
}

.programs-group h1 {
  color: #e0e0e0;
  font-size: 50px;
}

.text-programas p,
h1,
h3 {
  color: #fff;
  font-family: var(--sans-serif-font);
}

.text-programas h3 {
  font-size: var(--meddium-font-size);
}

.text-programas:hover,
.ion-chevron-down:hover,
h3:hover,
hr:hover {
  color: #cf8786;
}

.btn-ask {
  border: 3px solid #fff;
  padding: 20px;
  color: #fff;
  font-size: 15px;
}

.btn-ask:hover {
  border: 3px solid #cf8786;
  color: #cf8786;
}

.ion-chevron-down {
  position: absolute;
  right: 100px;
  margin-bottom: 10px;
}

.hr_end {
  margin-bottom: var(--spacer);
}

#python_img {
  width: 100%;
  height: 100%;
}

/* ----- Get involved ----- */

#getinvolved {
  background: #fff;
  padding: var(--spacer-2x);
}

#getinvolved .grid {
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--spacer-2x) calc(var(--spacer) * 3);
}

#getinvolved {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#getinvolved p {
  color: #a9a9a9;
  text-align: left;
  margin-bottom: 30px;
}

#getinvolved h1 {
  justify-content: center;
  text-align: center;
  color: #a9a9a9;
  padding: var(--spacer);
  font-family: var(--sans-serif-font);
  font-size: 50px;
}

article h3 {
  color: #a9a9a9;
  font-family: var(--meddium-font-size);
  text-align: center;
  letter-spacing: 2;
}

#getinvolved .btn-mensagem {
  border: 3px solid #cf8786;
  width: 200px;
  padding: 20px;
  color: #cf8786;
  font-size: 15px;
}

#getinvolved .btn-mensagem:hover {
  border: 3px solid #a9a9a9;
  color: #a9a9a9;
}

.get_img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  z-index: -1;
  margin: 20px 0 20px 0;
}

.transition {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  filter: brightness(0.3);
}

.get_main {
  position: relative;
  background-color: white;
  text-align: center;
  width: 300px;
  height: 250px;
  border: 2px solid;
  margin: 200px;
  padding: 0;
}

/*POPUP*/

.form-popup {
  display: none;
  position: relative;
  bottom: 40px;
  right: 15px;
  border: 3px solid #f1f1f1;
}

#get_involved .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn-submit {
  background-color: #cf8786;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #cf8786;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .btn-submit:hover,
.btn-mensagem:hover {
  opacity: 1;
}
​
/* ----- contact ----- */

#contact-section {
  background: #000;
  padding: var(--spacer-2x);
}
#contact-section .grid {
  grid-template-columns: 1fr 1fr;
}

#contact-section .border {
  font-size: 50px;
}

#contact-section .btn {
  border: 3px solid #fff;
  width: 100px;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

#contact-section .btn:hover {
  border: 3px solid #cf8786;
  color: #cf8786;
}

#contact-section p {
  margin: var(--spacer) 0px;
  font-weight: 500;
}

#contact-section h3 {
  font-size: var(--meddium-font-size);
  font-family: var(--sans-serif-font);
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}
#contact-section a {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}

/* MAPA */

#map-container {
  display: inline-block;
  position: relative;
}

#map-container .map-img {
  height: auto;
  max-width: 100%;
  width: auto;
}

#map-container > .markers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container > .markers > .marker {
  position: absolute;
}

#map-container > .markers > .marker > .marker-content {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Brasil */
#marker1 {
  left: 30%;
  top: 63%;
}

/* São Francisco */
#marker2 {
  left: 11%;
  top: 27%;
}

/* Seattle */
#marker3 {
  left: 10%;
  top: 16%;
}

.float-box {
  width: 30%;
  background-color: #ffa897;
  color: #fff;
  opacity: 0.6;
  border: 1px solid #fff;
  text-align: center;
  padding: 6px;
}

.marker1-box {
  margin-top: 140px;
  margin-left: 90px;
}

.marker2-box {
  margin-top: 35px;
  margin-left: 12px;
}

.marker3-box {
  margin-top: 0px;
  margin-left: 0px;
}

footer h3 {
  font-family: var(--sans-serif-font);
  font-size: var(--meddim-spacer);
  text-align: center;
  background-color: #444343;
  color: #fff;
  font-weight: 300;
  padding: 20px 0 20px 0;
}

/* ----- Media Queries ----- */

@media only screen and (max-width: 768px) {
  :root {
    --spacer: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .img-grid,
  .img-item {
    grid-template-columns: 1fr;
  }

  #about .img-grid {
    display: none;
  }

  .text1 h1 {
    font-size: var(--spacer);
  }

  #about .text1 p {
    font-size: var(--spacer);
  }

  .programs-group h1 {
    font-size: var(--spacer);
  }

  .programs-group p {
    width: 80%;
    padding: 20px 0 20px 0;
    font-size: var(--spacer);
  }

  .text-programas h3 {
    font-size: var(--spacer);
  }

  .text-programas hr {
    text-align: left;
    width: 300px;
  }

  #nav-elements,
  .social-media,
  #nav_bar {
    display: none;
  }
  .white-text {
    width: 100%;
  }
  .statement {
    font-size: var(--spacer);
  }

  #about {
    width: 100%;
  }
}
